<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My APP</title>
  </head>

  <body>
    <h1>To Do list</h1>

    <form action="/tasks" method="POST">
      <input type="text" placeholder="tasks" name="tasks2" />
      <button type="submit">Submit</button>
    </form>
        <h2>Task list</h2>
        <ul class="tasks">
            <% for(var i = 0; i < tasks.length; i++){%>
            <li class="tasks">
                <!-- Same but for the task itself-->
                <span><%= tasks[i].tasks2%></span>
            </li>
           <% } %>
        </ul>
        <div>
            <h2>Darth Vadar invades!</h2>
            <p>
              Replace first task
            </p>
            <button id="update-button">Replace</button>
          </div>
          <div>
            <h2>Remove task!</h2>
            <p>
              Delete task
            </p>
            <button id="delete-button">Delete task</button>
          </div>
          <div id="message"></div>
          <script src="/main.js"></script>
  </body>
</html> 
