<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My APP</title>
  </head>

  <body>
    <h1>To Do list</h1>

    <form action="/tasks" method="POST">
      <input type="text" placeholder="tasks" name="tasks2" />
      <button type="submit">Submit</button>
    </form>
        <h2>Task list</h2>
        <ul class="tasks">
            <% for(var i = 0; i < tasks.length; i++){%>
            <li class="tasks">
                <!-- Same but for the quote itself-->
                <span><%= tasks[i].tasks2%></span>
            </li>
           <% } %>
        </ul>
        <div>
            <h2>Darth Vadar invades!</h2>
            <p>
              Replace first Yoda's quote with a quote written by Darth Vadar
            </p>
            <button id="update-button">Replace Yoda's quote</button>
          </div>
          <div>
            <h2>Remove Darth Vadar!</h2>
            <p>
              Delete one Darth Vadar's quote. Does nothing if there are no more Darth
              Vadar's quote
            </p>
            <button id="delete-button">Delete Darth Vadar's quote</button>
          </div>
          <div id="message"></div>
          <script src="/main.js"></script>
  </body>
</html> 